
@media (max-width: 1650px) {
    .site-nav ul.nav-off-canvas>li>a{font-size: 16px;}
    .site-nav ul.nav-off-canvas .appointment a{font-size: 15px;}

    .jumbotron .slideLeft { font-size: 44px; }
    .jumbotron .slideRight { left: 2%; position: relative; }
    .jumbotron .slick-slide img { width: 100%; }

    .jumbotron:after {bottom: 0px;}

    .container {max-width: 1400px;}

    .headDiv h2{font-size: 35px; line-height: 40px;}
    .slick-prev , .slick-next{width: 80px;}

    .paraStyle{font-size: 16px;  line-height: 30px;  font-weight: 300;}
        
}


@media (max-width: 1550px) {
    .page-title{font-size: 45px;}


.slick-prev { bottom: 50px; }
.slick-next { bottom: 50px; }
.atorim_common_image img {padding-bottom: 25px;}
.patient_content3 { padding-top: 25px;}

.container {max-width: 1240px;}


.jumbotron::after {bottom: -6px;}

	
}


@media (max-width: 1450px) {
.jumbotron .slideLeft { font-size: 40px; width: 40%; padding-top: 130px; }
.page-title{font-size: 40px;}
.headDiv h2 span { font-size: 20px; }
.headDiv h2 { font-size: 32px; }
.paraStyle { font-size: 16px;  line-height: 34px;}
.txtRight p { font-size: 16px; line-height: 34px; }
.applyLeft h2 { font-size: 36px; }

.slick-prev ,.slick-next{ background-size: 100%; width: 86px; height: 49px; bottom: 66px; }
.slick-prev::before ,.slick-next::before{ background-size: 100%; width: 86px; height: 48px; }


ul.d-inline.footer_link .pr-4{padding-right: 15px!important;}


header {padding: 10px 0;}

.aboutDiv .about-2 {top: auto;right: -30px;width: 50%;bottom: -50px;}
.aboutDiv .about-2 img{width: 100%;}

.applyRight{margin-top: 50px;}
.applyRight li{padding: 0px 0 20px 0px !important;}
.applyRight li:last-child{padding-bottom: 0px !important;}
.applyRight li p{font-size: 18px;}

.tabDiv .tabImg{width: 50%; left: 0;}
.tabDiv .tabImg img{width: 100%;}

.tabTxt a{z-index: 99; position: relative !important; right: 0; margin-top: 20px;}
.tabDiv:after{z-index: 0;}

.tabDiv .tabTxt { width: 50%;right: 0px; bottom: auto; z-index: 100; }
section.blogDiv.pb-5.mb-5 { padding: 40px 0px 50px !important;}	
.atorim_common_para h3 {font-size: 34px;}
.atorim_common_image img {padding-bottom: 25px;}

.tabDiv .nav-tabs .nav-link{font-size: 16px; font-weight: 400; padding: 13px 40px;}
    
}

@media (max-width: 1366px) {
    .page-title{font-size: 34px; font-weight:600;}
    .container {  max-width: 1190px;}
    .site-nav ul.nav-off-canvas>li>a{padding: 0 9px 0; font-size: 15px; font-weight: 400;}
    .site-nav ul.nav-off-canvas .appointment a{    padding: 10px 18px; font-size: 14px; margin-left: 15px;}

    ul.d-inline.footer_link .pr-4 { padding-right: 5px!important;}
    .atorim_common_image img { padding-bottom: 20px;}

    .slick-prev, .slick-next{width: 65px;}
    .slick-next{left: 75px;}

    .slick-prev::before ,.slick-next::before{ background-size: 100%; width: 65px; height: 37px; }

    .jumbotron .slideLeft{padding-top: 80px;}
    .jumbotron .slideRight{width: 50%;}

    .aboutDiv .about-2{right: -45px; width: 36%;  bottom: -30px;}

}

@media (max-width: 1170px) {
    .site-nav ul.nav-off-canvas > li > a{font-size: 16px; padding: 0px 14px 0px;}  
    .atorim_fullcondiv{padding: 70px 0;}
    .atorim_common_para h3{font-size: 30px; margin-bottom: 50px;}
    .atorim_common_para h3::before {top: 35px;}
}

@media (max-width: 1024px) {
    .page-title{font-size: 35px;}
    .headDiv h2{font-size: 30px; line-height: 40px;}
    .jumbotron .slideLeft{padding-right: 0; padding-top: 50px;}
    .slick-prev , .slick-next{width: 70px;}
    .slick-next::before{width: 70px; display: none;}
    .slick-prev::before{width: 70px; display: none;}
    .aboutDiv .about-1 img{width: 100%;}

    .logo a{display: block;}
    .aboutDiv .about-2{width: 60%;top: 90%;  right: 0; left: 0;  margin: auto;}
    .aboutDiv .about-2 img{width: 100%;}

    .getintouch-contact h3, .getintouch-map h3{font-size: 30px;}
    .getintouch-map h3{margin-bottom: 50px;}

}


@media (max-width: 991px) {
    .page-title{font-size: 30px;}
    header{padding: 5px 0;}
    .site-nav{height: auto;}
    .site-nav ul.nav-off-canvas > li{margin-bottom: 15px;}
    .site-nav ul.nav-off-canvas > li > a{padding: 0 30px 0;}
    .site-nav ul.nav-off-canvas > li > a::after {left: 30px; bottom: -3px;}

    .site-nav ul.nav-off-canvas{z-index: 99;}
    .hide{display: block !important; }

    .applyRight{margin-top: 30px;}  
    .applyRight ul li{padding: 0px !important; margin-bottom: 20px;}
    .applyRight ul li:last-child{margin-bottom: 0;}
    .applyDiv .row [class*="col-"]{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; padding: 0 15px !important; }
    .atorim_fullcondiv .row [class*="col-"]{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; margin-top: 0px !important;}
    .atorim_fullcondiv .row .order-1{-ms-flex-order: 0; order: 0; margin-top: 40px !important;}

    .getintouch-form{margin-top: 30px;}
    .getintouch-form form textarea{resize: none;}

    .getintouch-map{margin-top: 40px;}
    .getintouch-map h3{margin-bottom: 30px;}
    .getintouch-map .contact-map{height: 300px !important;}
    .atorim_fullcondiv .row [class*="col-"]{margin-left: 0;}
    
    .atorim_common_para h3{margin-bottom: 40px; padding-bottom: 40px; font-size: 30px;}
    .atorim_common_para h3::before{top: auto; bottom: 0;}
    .atorim_fullcondiv .atorim_common_content {padding-left: 0px !important; margin-top: 35px; padding-top: 0;}
    
    .aboutDiv{padding: 55px 0 150px;}
    .aboutDiv .row [class*="col-"]{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
    .aboutDiv .about-2{display: none;}
    .aboutRight {padding: 0px !important; margin-top: 30px;}

    .servDiv{padding: 70px 0 60px;}
    .servDiv .servInn{padding: 0 0;}

    .tabDiv{margin-bottom: 0px !important;}

    .tabTxt a{position: static !important; display: inline-block; margin-top: 28px;}
    .nav-tabs .nav-item{width: 100%; flex-basis: 25%; text-align: center;}
    .tabDiv .tabTxt{top: 0; right:0;}
    .tabDiv .nav-tabs .nav-link{padding: 15px 18px; font-size: 16px;}
    .tabDiv .tabTxt{padding: 20px; float: right; position: static !important;}

    .tabDiv::after{display: none;}
    .tabDiv .tabImg{width: 50%; left: 0;}
    .tabDiv .tabImg img{width: 100%; height: 335px;  object-fit: cover;}

    .jumbotron::after {display: none;}
    .jumbotron .slideLeft{font-size: 30px; padding-top: 35px;}

    section.blogDiv.pb-5.mb-5{padding: 20px 0px 50px !important;}
    .blogDiv .row [class*="col-"]{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
    .blogDiv .blogLeft{padding: 0;}

    .blogDiv .newsRight{padding-left: 0;}


}

@media (max-width: 767px) {
    .applyLeft .appTxt{width: 100%; padding-left: 40px;}
    .applyLeft h2{font-size: 32px; padding-bottom: 15px !important;}
    .applyLeft .pb-5{padding-bottom: 25px !important;}
    .applyRight ul{padding: 0px !important;}
    .atorim_common_para h3{font-size: 25px; margin-bottom: 30px;}

    .blogDiv li{padding-bottom: 20px !important;}
    .txtLeft .date{font-size: 32px;}
    .blogDiv .txtRight{padding-left: 100px;}

    .form-inline{margin-top: 20px !important;}

    .jumbotron .slideRight{left: 0; width: 55%; padding: 0 0 60px 20px;}
    .jumbotron .slideRight img{width: 100%;}
    .jumbotron .slideLeft{width: 45%;}

    .footer_link{display: block !important; margin-bottom: 20px;}
    .footTop .col-md-3 {margin-bottom: 20px;}
    .footTop ul .d-inline{padding-right: 0px !important;}

}


@media (max-width: 667px) {
    header .logo{width: 50px;}
    .jumbotron .slideLeft{padding-top: 0; font-size: 26px;}

    .tabDiv .nav-tabs{border-radius: 0px; max-width: 100%; margin: 0px !important;}
    .tabDiv .nav-tabs .nav-link{padding: 14px 1px;}
    .tabDiv .nav-tabs .nav-link.active{border-radius: 0px !important;}
    .tabDiv .tabImg{display: none;}
    .tabDiv .tabTxt{width: 100%; float: none;}

    .newsRight button{padding: 0 30px;}

    .atorim_common_image img{float: none; width: 100%; padding: 0px; margin-bottom: 30px;}
    .physician-content-section .atorim_fullcondiv .atorim_common_content{margin-top: 0;} 
    .atorim_common_para h3::before{left: 0;}

    .Patients-content-section .atorim_fullcondiv .atorim_common_content{margin-top: 0;}
    .atorim_fullcondiv{padding: 70px 0 30px;}
    .health_care{margin-bottom: 30px;}
}

@media (max-width: 480px) {
    .headDiv h2{font-size: 24px;}
    .headDiv h2 span{font-size: 17px;}
    .applyLeft .appTxt{padding: 20px;}
    .applyLeft h2{font-size: 26px;}
    .applyRight{padding: 25px !important;}
    .applyRight ul li{margin-bottom: 15px;}
    .applyRight ul li picture{margin-right: 15px !important;}
    .applyRight li p{font-size: 19px;}

    .tabTxt h2{font-size: 28px;}
    .tabDiv .tabTxt{padding: 25px;}
    .nav-tabs .nav-item{flex-basis: 50%;}

    .blogDiv .txtLeft{width: 55px;}
    .blogDiv .txtRight{padding-left: 80px;}
    .txtLeft .date , .txtLeft .month{padding-left: 0px !important;}

    .newsRight h2{font-size: 28px;}
    .newsRight .form-control,.newsRight button{display: inline-block;}
    .newsRight .form-control{width:200px; margin-right: 0px !important;}
    .newsRight button{padding: 10px 22px; margin-left: 4px;font-size: 16px; font-weight: 500;}
    .newsRight .form-inline .form-group {margin-right: 0px !important;}
    section.blogDiv.pb-5.mb-5{padding: 20px 0px 0px !important;}

    header .logo{width: 45px;}
    .jumbotron .slideLeft{font-size: 16px;}
    .slick-prev, .slick-next{width: 50px; bottom: 0;}
    .slick-next{left: 65px;}

}


