* {
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap'); */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  font-weight: 600;
}

/* HTML5 display-role reset for olderformPop browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:active, a:focus {
  outline: none;
}

input:focus, button:focus {
  outline: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.container {
  max-width: 1640px;
  margin: 0px auto;
}

header, section, footer {
  overflow-x: hidden;
}

header {
  padding: 20px 0;
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  transition: all ease 750ms;
  -moz-transition: all ease 750ms;
  -o-transition: all ease 750ms;
  -webkit-transition: all ease 750ms;
  -ms-transition: all ease 750ms;
}

header.Animeheader {
  position: fixed;
  z-index: 10000;
  transition: all ease 750ms;
  -moz-transition: all ease 750ms;
  -o-transition: all ease 750ms;
  -webkit-transition: all ease 750ms;
  -ms-transition: all ease 750ms;
  box-shadow: 4px 13px 20px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 13px 20px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 13px 20px 2px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 4px 13px 20px 2px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 4px 13px 20px 2px rgba(0, 0, 0, 0.08);
  top: 0;
  background: #fff;
}

header .logo {
  top: 4px;
  width: 66px;
  transition: all ease 750ms;
  -moz-transition: all ease 750ms;
  -o-transition: all ease 750ms;
  -webkit-transition: all ease 750ms;
  -ms-transition: all ease 750ms;
}

header .logo img {
  width: 100%;
  transition: all ease 750ms;
  -moz-transition: all ease 750ms;
  -o-transition: all ease 750ms;
  -webkit-transition: all ease 750ms;
  -ms-transition: all ease 750ms;
}

.site-nav ul.nav-off-canvas {
  margin-top: 15px;
}

.site-nav ul.nav-off-canvas .appointment a {
  margin-left: 30px;
  background: #45d1ad;
  top: -10px;
  padding: 12px 25px;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s linear;
}

/* .site-nav ul.nav-off-canvas .appointment a::before{content: ''; position: absolute; left: -25px; height: 25px; width: 1px; background-color: #ddd;} */

.site-nav ul.nav-off-canvas li:last-child a {
  margin-left: 30px;
  background: #45d1ad;
  top: -10px;
  padding: 12px 25px 12px 50px;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s linear;
}

.site-nav ul.nav-off-canvas li:last-child a:before {
  content: "\f095";
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-weight: 900;
  transform: rotate( 90deg);
  position: absolute;
  left: 22px;
  top: 16px;
}

.site-nav ul.nav-off-canvas .appointment a::after {
  display: none;
}

.site-nav ul.nav-off-canvas .appointment a .fa {
  transform: rotate(-260deg);
  margin-right: 5px;
}

.site-nav ul.nav-off-canvas .appointment a:hover, .site-nav ul.nav-off-canvas .appointment a:focus {
  color: #fff;
  background-color: #20375d;
}

.site-nav ul.nav-off-canvas li:last-child a::after {
  content: none;
}

.jumbotron {
  background-image: url("../images/banner-bg.jpg");
  background-position: center -33px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  position: relative;
  border-radius: 0;
  background-color: transparent;
}

.jumbotron:after {
  background-image: url("../images/banner-strip.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 250px;
}

.jumbotron .slick-list {
  overflow: visible;
}

.jumbotron .slick-slider {
  z-index: 1;
}

.jumbotron .slick-slide img {
  width: 100%;
  box-shadow: -3px 5px 30px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -3px 5px 30px 8px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: -3px 5px 30px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 5px 30px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: -3px 5px 30px 8px rgba(0, 0, 0, 0.2);
}

.slick-prev {
  background: url("../images/prev-btn.png") no-repeat;
  width: 103px;
  height: 58px;
  border: 0;
  font-size: 0;
  margin-right: 6px;
  position: absolute;
  left: 0px;
  bottom: 40px;
}

.slick-prev::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  right: 0;
  bottom: 30px;
  background: url("../images/prev-btn-hover.png") no-repeat center;
  background-size: inherit;
  opacity: 0;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.slick-prev:hover::before {
  opacity: 1;
}

/*.slick-prev:hover { background: url("../images/prev-btn-hover.png") no-repeat; }*/

.slick-next {
  background: url("../images/next-btn.png") no-repeat;
  width: 103px;
  height: 58px;
  border: 0;
  font-size: 0;
  position: absolute;
  left: 109px;
  bottom: 40px;
}

.slick-next::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: inherit;
  bottom: 0;
  background: url("../images/next-btn-hover.png") no-repeat center;
  background-size: inherit;
  opacity: 0;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.slick-next:hover::before {
  opacity: 1;
}

.slick-prev, .slick-next {
  background-size: 100%;
}

/*.slick-next:hover { background: url("../images/next-btn-hover.png") no-repeat; }*/

/* font-family: 'Playfair Display', serif; */

.jumbotron .slideLeft {
  padding-top: 170px;
  width: 36%;
  float: left;
  font-size: 55px;
  font-weight: 600;
  padding-right: 60px;
  font-family: 'Playfair Display', serif;
  opacity: 0;
}

.jumbotron .slideRight {
  width: 58%;
  float: right;
  vertical-align: bottom;
  opacity: 0;
  padding: 0 0 40px 40px;
}

.carousel-inner {
  overflow: visible;
}

.jumbotron .slick-slide.slick-active .slideLeft {
  -webkit-animation: fadeInLeft 0.5s linear 0s 1 forwards;
  animation: fadeInLeft 0.5s linear 0s 1 forwards;
  -moz-animation: fadeInLeft 0.5s linear 0s 1 forwards;
}

.jumbotron .slick-slide.slick-active .slideRight {
  -webkit-animation: fadeInRight 0.5s linear 0.4s 1 forwards;
  animation: fadeInRight 0.5s linear 0.s 1 forwards;
  -moz-animation: fadeInRight 0.5s linear 0.5s 1 forwards;
}

#scrollUp {
  display: none !important;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.headDiv {
  width: 100%;
  float: left;
  position: relative;
}

.headDiv h2 span {
  line-height: 30px;
  font-size: 24px;
  letter-spacing: 4px;
  color: #45d1ad;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: block;
}

.headDiv h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 40px;
  color: #20375d;
  background: url(../images/head-img.png) left bottom no-repeat;
  line-height: 48px;
}

.aboutDiv {
  padding: 50px 0 180px;
  width: 100%;
  float: left;
}

.aboutDiv .about-1 {
  z-index: 9;
  width: 100%;
  overflow: hidden;
}

.aboutDiv .about-2 {
  z-index: 10;
  top: 45%;
  right: 7%;
}

.aboutDiv .aboutRight {
  width: 100%;
  float: left;
}

.paraStyle {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.applyDiv {
  width: 100%;
  float: left;
}

.applyLeft h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #20375d;
  font-size: 45px;
}

.applyLeft p {
  color: #1c1c1c;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.applyLeft a {
  background: #45d1ad;
  border-radius: 40px;
  padding: 12px 40px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  box-shadow: -20px 8px 12px 4px #ccc;
  -ms-box-shadow: -20px 8px 12px 4px #ccc;
  -moz-box-shadow: -20px 8px 12px 4px #ccc;
  -webkit-box-shadow: -20px 8px 12px 4px #ccc;
  -o-box-shadow: -20px 8px 12px 4px #ccc;
}

.applyLeft a:hover {
  background: #20375d;
}

.applyLeft img {
  width: 100%;
  vertical-align: bottom;
}

.applyLeft .appTxt {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 530px;
}

.topSpace {
  margin-top: 111px !important;
}

.applyRight {
  background: #45d1ad;
  width: 100%;
  float: left;
  margin-top: 150px;
}

.applyRight ul {
  width: 100%;
  float: left;
}

.applyRight li {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.applyRight li p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.servDiv {
  padding: 100px 0px 60px;
  width: 100%;
  float: left;
}

.servDiv .servInn {
  padding: 0 90px;
}

.tabDiv {
  width: 100%;
  float: left;
  overflow-x: visible;
}

.tabDiv:after {
  background-size: 100%;
  background-image: url("../images/servicesbg.png");
  background-position: right bottom;
  z-index: 99;
  background-repeat: no-repeat;
  width: 531px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 318px;
}

.tabDiv .nav-tabs {
  background: #efefef;
  border-radius: 100px;
  /*    max-width: 822px;*/
  max-width: fit-content;
}

@-moz-document url-prefix() {
  .tabDiv .nav-tabs {
    background: #efefef;
    border-radius: 100px;
    max-width: 817px;
  }
}

.tabDiv .nav-tabs .nav-link {
  color: #000;
  border: 0;
  padding: 17px 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.tabDiv .nav-tabs .nav-link:hover {
  background: none !important;
  border-radius: 0 !important;
  color: #000 !important;
  border: 0 !important;
}

.tabDiv .nav-tabs .nav-link.active {
  background: #45d1ad !important;
  border-radius: 100px !important;
  color: #fff !important;
  border: 0 !important;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.tabDiv .tab-pane {
  width: 100%;
  float: left;
}

.tabDiv .tabImg {
  width: 74%;
  float: left;
  left: -9.1%;
}

.tabDiv .tabImg img {
  width: 80%;
}

.tabDiv .tabTxt {
  width: 42%;
  right: 220px;
  box-shadow: -3px 0px 28px 2px #e6e6e6;
  padding: 70px 50px 90px 50px;
  bottom: -64px;
  z-index: 100;
}

.tabTxt h2 {
  font-family: 'Playfair Display', serif;
  color: #45d1ad;
  font-size: 34px;
}

.tabTxt h2 span {
  height: 4px;
  border-radius: 10px;
  background: #45d1ad;
  width: 20px;
  width: 42px;
  display: block;
}

.tabTxt a {
  background: #20375d;
  border-radius: 40px;
  padding: 12px 40px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  box-shadow: -9px 6px 11px 6px #ccc;
  -ms-box-shadow: -9px 6px 11px 6px #ccc;
  -moz-box-shadow: -9px 6px 11px 6px #ccc;
  -webkit-box-shadow: -9px 6px 11px 6px #ccc;
  -o-box-shadow: -9px 6px 11px 6px #ccc;
  bottom: -20px;
  right: 140px;
}

.tabTxt a:hover {
  background: #45d1ad;
}

.tabDiv .tab-content {
  width: 100%;
  float: left;
}

.tabDiv .tab-pane .tabTxt {
  opacity: 0;
}

.tabDiv .tab-pane.active.show .tabImg {
  -webkit-animation: fadeInLeft 0.5s linear 0s 1 forwards;
  animation: fadeInLeft 0.5s linear 0s 1 forwards;
  -moz-animation: fadeInLeft 0.5s linear 0s 1 forwards;
}

.tabDiv .tab-pane.active.show .tabTxt {
  -webkit-animation: fadeInRight 0.5s linear 0.4s 1 forwards;
  animation: fadeInRight 0.5s linear 0.s 1 forwards;
  -moz-animation: fadeInRight 0.5s linear 0.s 1 forwards;
}

.blogDiv {
  padding: 121px 0;
  width: 100%;
  float: left;
}

.blogDiv .blogLeft {
  padding: 0 90px;
}

.blogDiv .newsRight {
  padding: 0 0px 0 50px;
}

.blogDiv ul {
  width: 100%;
  float: left;
}

.blogDiv li {
  width: 100%;
  float: left;
}

.blogDiv .txtLeft {
  width: 76px;
  left: 0;
  top: 0px;
}

.txtLeft .date {
  width: 100%;
  display: block;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: #20375d;
  font-size: 40px;
  border-bottom: 2px solid #20375d;
}

.txtLeft .month {
  width: 100%;
  display: block;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: #20375d;
  font-size: 18px;
}

.blogDiv .txtRight {
  width: 100%;
  padding-left: 115px;
}

.txtRight span {
  font-family: 'Poppins', sans-serif;
  color: #9d9797;
  letter-spacing: 3px;
  font-size: 14px;
}

.txtRight p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000;
  font-size: 20px;
  line-height: 36px;
}

.newsRight h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #20375d;
  font-size: 35px;
}

.newsRight fieldset {
  width: 100%;

  position: relative;
}

.newsRight .form-control {
  border-radius: 100px;
  width: 300px;
  background: #e8ebee;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding: 25px 30px;
}

.newsRight input[type="submit"] {
  border-radius: 100px;
  background: #45d1ad;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 0 50px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  height: 50px;
}

.newsRight input[type="submit"]:hover {
  background: #20375d;
}

.form-control:focus {
  box-shadow: none;
}

footer {
  width: 100%;
  float: left;
}

footer .footTop {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

footer ul li {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

footer ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
}

footer ul li a:hover {
  color: #45d1ad;
  text-decoration: none;
}

footer ul li a i {
  font-size: 18px;
  color: #20375d;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

footer ul li a:hover i {
  color: #45d1ad;
}

footer ul li a svg {
  width: 20px;
  width: 17px;
  margin-top: -6px;
}

footer ul li a svg path {
  fill: #20375d;
  transition: fill .5s ease;
}

footer ul li a svg:hover path {
  fill: #45d1ad;
}

footer .footBottom {
  padding: 20px 0;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 12px;
}

/*Custom Css*/

.paraStyle span {
  font-weight: 600;
  text-transform: uppercase;
}

.aboutRight a {
  background: #45d1ad;
  border-radius: 40px;
  padding: 12px 40px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  box-shadow: -9px 6px 11px 6px #ccc;
  -ms-box-shadow: -9px 6px 11px 6px #ccc;
  -moz-box-shadow: -9px 6px 11px 6px #ccc;
  -webkit-box-shadow: 4px 10px 11px 0px #cccccc6b;
  -o-box-shadow: -9px 6px 11px 6px #ccc;
  margin-top: 40px;
}

.aboutRight a:hover {
  background-color: #20375d;
}

/*Physicians, Patients And Attorneys*/

.atlanta_common {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  /* min-height: 200px; */
}

.physician-banner {
  background: url(../images/physician_banner.jpg) center center;
}

.Patients-banner {
  background: url(../images/patient_banner.jpg) center center;
}

.attorneys-banner {
  background: url(../images/attorney_banner.jpg) center center;
}

.contactus-banner {
  background: url(../images/contactus-banner.jpg) center center;
}

.health_care_banner {
  background: url(../images/health-care-banner.jpg) center center;
}

.page-title {
  color: #fff;
  font-weight: 700;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.banner-breadcrumb li {
  display: inline-block;
  color: #f9f9f9;
  font-size: 14px;
}

.banner-breadcrumb li+li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f105";
  margin-right: 10px;
}

.header_banner-cont {
  padding: 50px 0px;
}

.banner-breadcrumb li a {
  color: #fff;
}

/*---------------------------*/

.atorim_fullcondiv {
  padding: 80px 90px;
}

.atorim_common_para h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 40px;
  color: #20375d;
  position: relative;
  margin-bottom: 70px;
  text-transform: capitalize;
}

.atorim_common_para h3:before {
  background: url(../images/head-img.png) left bottom no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  display: inline-block;
  left: 50%;
  top: 50px;
}

.Patients-content-section .atorim_common_para h3:before, .getintouch-contact h3:before {
  left: 0;
}

.atorim_common_image img {
  width: 50%;
  float: left;
  padding-right: 60px;
  padding-bottom: 50px;
}

.atorim_common_image img {
  padding-top: 15px;
}

.patient_image3 img {
  float: right;
  padding: 15px 0px 50px 50px;
}

.atorim_common_para p {
  margin-bottom: 15px;
}

.physician_content2 {
  padding-top: 15px;
}

.patient_content2 {
  padding-top: 20px;
}

.health_care img {
  width: 100%;
}

/*Contact us*/

.getintouch-form {
  margin-top: 50px;
}

.getintouch-contact h3, .getintouch-map h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 40px;
  color: #20375d;
  position: relative;
  margin-bottom: 70px;
  text-transform: capitalize;
}

.getintouch-form form input, .getintouch-form form textarea {
  color: #495057;
  background-color: #fff;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.getintouch-form form label {
  font-size: 15px;
  margin-bottom: 7px;
  color: #5a5757;
}

.getintouch-form form input.submit-btn {
  background-color: #20375d;
  border-radius: 40px;
  padding: 12px 40px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  box-shadow: -9px 6px 11px 6px #ccc;
  -ms-box-shadow: -9px 6px 11px 6px #ccc;
  -moz-box-shadow: -9px 6px 11px 6px #ccc;
  -webkit-box-shadow: -9px 6px 11px 6px #ccc;
  -o-box-shadow: -9px 6px 11px 6px #ccc;
  color: #fff;
  border: none;
}

.getintouch-form form input.submit-btn:hover {
  background: #45d1ad;
}

.getintouch-map {
  height: 80%;
  position: relative;
}

#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.getintouch-contact ul li a {
  font-size: 18px;
  color: #000;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}

.getintouch-contact ul li a:first-child {
  padding-bottom: 7px;
}

.getintouch-contact ul li a:hover {
  text-decoration: none;
  color: #51d4b2;
}

.getintouch-contact ul li a i {
  padding-right: 5px;
}

figure.alignleft img, figure.alignright img {
  max-width: 100%;
  height: auto;
}
figure.alignleft {
  float: left;
  padding-right: 50px;
  width: 50%;
  overflow: hidden;
}

figure.alignright {
  float: right;
  padding-left: 50px;
  width: 50%;
  overflow: hidden;
}

.screen-reader-response {
  display: none;
}
span.wpcf7-not-valid-tip {
  color: red;
  font-size: 14px;
}
.wpcf7-response-output {
  margin-top: 20px;
}
.subscribe_form span.wpcf7-not-valid-tip {
  position: absolute;
  bottom:20px;
  left: 10px;
}
/* .subscribe_form .wpcf7-response-output{
display: none;
} */
/**********Blogs************/

.blog_box.blog_style2 a {
  display: block;
  transition: all 0.1s ease;
}

.blog_box.blog_style2 a:hover h3 {
  color: #555;
  transition: all 0.1s ease;
}

.blog_box.blog_style2 a .img_box img {
  transition: all 0.5s ease;
}

.blog_box.blog_style2 .img_box {
  overflow: hidden;
}

.blog_box.blog_style2 a:hover .img_box img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}


.blog_box.blog_style2:before {
  content: none;
}

.blog_box.blog_style2 .blog_title {
  bottom: 0;
  position: relative;
  color: #000;
  padding: 30px 30px 15px;
}


/*******Single Blog******/

.recent_blogs .blog_box a {
  display: flex;
}

.recent_blogs .blog_box .blog_title {
  padding: 0px 10px 10px;
}

.recent_blogs .blog_box a .img_box {
  max-width: 30%;
}

.recent_blogs .blog_title p,
.recent_blogs .blog_title span {

  font-size: 12px;
}

.recent_blogs .blog_box .blog_title h3 {
  font-size: 16px;
  font-weight: 600;
}

.recent_blogs h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: #000;
  padding: 15px 15px;
  color: #fff;
}

.other_blog_box .blog_box .blog_title {
  padding: 0px 0px 0px 10px;
}

.recent_blogs {
  border: 1px solid #ddd;
  border-bottom: 0px;
}

.other_blog_box .blog_box {
  padding: 10px 10px 5px;
  border-bottom: 1px solid #ddd;

}
